@charset "utf-8";
/* CSS Document */
* {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  color: #000;
  font-family: 'Quicksand', sans-serif;
}


/*Navbar*/
.navbar-brand img {
  height: 70px;
  margin: -12px 0 -13px -15px;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.3);
}
.fa-bars {
  color: #FFF !important;
  font-size: 30px !important;
}
.navbar button {
  border: none;
}
.navbar button:hover .fa-bars {
  color: #F44336;
}
.nav-link {
  color: #FFFFFF !important;
  margin-left: 31px;
  font-size: 18px;
  padding: 0;
}
.nav-link:hover {
  color: #F44336 !important;
  border-left: 2px solid #F44336;
  font-weight: bold;
}
.active-home {
  color: #F44336 !important;
  border-left: 2px solid #F44336 !important;
  font-weight: bold;
}


/*home*/
.welcome h1 {
  padding-top: 17vh !important;
  font-size: 4vw;
  color: #fff;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 3s;
  transition-delay: 10s;
}
.welcome hr {
  height: 3px;
  width: 16vW;
  background-color: #F00;
  margin-left: 0;
}
.welcome h2 {
  padding-top: 10vh !important;
  font-size: 6vw;
  color: #fff;
}
.welcome h4 {
  padding-top: 13px;
  font-size: 2vw !important;
  color: #fff;
}
.welcome button {
  padding: 5px 15px 5px 15px;
  margin: 30px 10px 20px 0;
  background-color: #FF2010;
  color: #fff;
  font-size: 2vw;
  border: 1px solid #FF2010;
  border-radius: 4px;
}
.welcome button:hover {
  background-color: #FFF;
  color: #FF2010;
  border: 1px solid #FFF;
  border-radius: 4px;
}
.parallax {
  /* The image used */
  background-image: url('images/img1.png');
  /* Full height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*digital marketing*/
.digital-marketing {
  min-height: 100vh;
  margin-top: 20px;
}
.digital-marketing h5 {
  padding-top: 100px;
  letter-spacing: 8px;
}
.digital-marketing hr {
  height: 2px;
  width: 130px;
  background-color: #F00;
  margin-left: 0;
}
.digital-marketing h2 {
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 0px;
  text-align: center;
  padding-top: 80px;
}
.digital-marketing img {
  margin-top: 10px;
  width: 400px;
}
.digital-marketing h4 {
  margin-top: 100px;
  font-size: 34px !important;
  vertical-align: middle !important;
  text-align: center;
}
#downArrow {
  margin-top: 40px !important;
  cursor: pointer;
}


/*services-section*/
.services {
  width: 100%;
  margin-top: 70px;
  background-color: #fbfafa;
  padding-bottom: 70px;
}
.services1 {
  margin-bottom: 70px;
}
.services1 img {
  width: auto;
  height: auto;
  max-width: 30%;
  margin-top: 100px;
  box-shadow: 1px 1px 2px #2b3138;
  z-index: 100 !important;
  position: absolute;
  background-color: #fff;
}
.services1-2 {
  margin-top: 50px;
  background-color: #2b3138;
  margin-left: 25%;
  margin-right: 0px !important;
  width: 75% !important;
  padding: 10px 50px 10px 13%;
  color: #fff;
  right: 0;
}
.services1-2 h4 {
  padding-top: 13px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}
.services1-2 hr {
  height: 1px;
  width: 100px;
  background-color: #F00;
  margin-left: 0;
}
.services1-2 p {
  text-align: justify;
}
.services a {
  font-size: 100px;
  background-color: #fbfafa;
  cursor: pointer;
}
.digital-marketing a i {
  color: red;
  font-size: 70px;
}

/*initially service section will be hidden*/
#services_section {
  display: none;
}
#cardView1off {
  display: none;
}


/*cardView1*/
.skill-card {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border-radius: 5px;
}
.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #2b3138;
  color: #fff;
}
.skill-card:hover .skill-card__body {
  height: 270px;
}
.skill-card:hover .skill-card__body p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body p {
  transition-delay: 0.25s;
}
.skill-card .skill-card__header {
  background-color: #eb6c3f;
  height: 170px;
  overflow: hidden;
}
.skill-card .skill-card__body {
  height: 70px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: left;
}
.skill-card .skill-card__body p {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  text-align: justify;
}
.skill-card .skill-card__body hr {
  height: 1px;
  width: 130px;
  background-color: #F00;
  margin-left: 0;
}
/*cardView1Ends*/



/* seo*/
.seo {
  width: 100%;
  padding-top: 50px;
  background-color: #fbfafa;
  padding-bottom: 70px;
}
.seo h3 {
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}
.seo h4 {
  font-size: 34px !important;
  padding-bottom: 40px;
}
.seo .card-view1 img {
  width: auto;
  height: auto;
  padding: 70px;
}
.seo .card-view1 h4 {
  padding-bottom: 0;
}
.seo .skill-card .skill-card__header {
  background: #fff;
}
.seo .skill-card:hover .skill-card__header {
  background: #2b3138;
}
.seo .skill-card .skill-card__header .skill-card__icon {
  max-height: 160px !important;
  padding: 5px;
  text-align: right !important;
}


/*website-design*/
.website-design {
  background-color: #E8FCFF;
  padding-bottom: 50px;
}
.website-design h3 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 0px;
}
.website-design img {
  padding: 0 25px 0 25px;
}
.website-design h5 {
  padding-top: 20px;
}
.web-dsg img {
  margin-top: 50px;
  width: 353px !important;
}
.website-design .cardView1 {
  margin-top: 50px;
}
.website-design .card-view1 img {
  width: auto;
  height: auto;
  padding: 80px;
}
.website-design .skill-card:hover .skill-card__body {
  height: 200px;
}
.website-design .skill-card .skill-card__header {
  background: #fff;
}
.website-design .skill-card:hover .skill-card__header {
  background: #2b3138;
}
.website-design .skill-card .skill-card__header .skill-card__icon {
  max-height: 160px !important;
  padding: 5px;
  text-align: right !important;
}


/*social-media*/
.social-media {
  padding: 50px 0 50px 0;
}
.social-media h2, .real-estate h3 {
  padding-top: 80px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}
.social-media h4, .real-estate h4 {
  margin-top: 130px;
  font-size: 34px !important;
  vertical-align: middle !important;
  text-align: center;
}
.social-media-card {
  padding-top: 50px;
}
.social-media-card img {
  max-height: 400px;
  padding-top: 20px;
}
.social-media-images img {
  width: 70px;
  margin: 10px;
}


/*real e-state*/
.real-estate1 {
  padding-top: 50px;
}
.real-estate .card-view1 h4 {
  text-align: left;
  padding-top: 0px;
  margin-top: 30px;
}
.real-estate .card-view1 p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.real-estate .skill-card .skill-card__header {
  background: #fff;
  height: 300px;
}
.real-estate .skill-card:hover .skill-card__header {
  background: #2b3138;
}
.skill-card:hover .skill-card__body {
  height: 290px;
}
.real-estate .skill-card .skill-card__header .skill-card__icon {
  max-height: 300px !important;
  width: 100%;
  padding: 5px;
  text-align: right !important;
}

/*our clients*/
.our-clients {
  min-height: 100vh;
}
.our-clients h2, .about-us h2 {
  padding-top: 80px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}
.our-clients img {
  width: auto;
  max-width: 150px;
  max-height: 200px;
  height: auto;
  padding: 5px;
}


/* review */
.review-box {
  text-align: center;
}
.review-box h2 {
  padding-top: 80px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}
.title {
  margin-bottom: 80px;
}
.review-box img {
  background: #F44336;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.review-item {
  text-align: center;
  height: 400px;
}
.caption2 {
  z-index: -1 !important;
  box-shadow: 0 0 15px 1px rgba(166, 163, 223, 0.5);
  border-radius: 5px;
  margin-bottom: 50px;
}
.caption2 h6 {
  margin-top: 80px;
  font-weight: bold;
  color: #000 !important;
}
.caption2 small {
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  color: #000 !important;
}
.caption2 p {
  text-align: center;
  padding: 0 50px;
  font-size: 15px;
  color: #808080 !important;
}
.carousel-indicators li {
  background-color: #F44336;
}


/*about us*/
.about-us h4 {
  padding-top: 50px;
  padding-bottom: 160px;
}
.contact_us {
  min-height: 100vh;
  padding-top: 80px;
}
.contact_us h2 {
  font-weight: bold;
  font-size: 48px;
}
.contact_us h5 {
  padding-top: 20px;
  padding-bottom: 70px;
}
.contact_us_form input {
  padding: 5px;
  margin: 10px;
  width: 90%;
}
.contact_us_form textarea {
  padding: 5px;
  margin: 10px;
  width: 90%;
}
#sub_btn {
  padding: 5px 15px 5px 15px;
  margin-top: 30px;
  background-color: #FF2010;
  color: #fff;
  font-size: 26px;
  border: 1px solid #FF2010;
  border-radius: 4px;
  width: auto;
}
#sub_btn:hover {
  background: #fff;
  color: #FF2010;
}


/*footer*/
.add {
  color: yellow;
  padding-top: 100px;
}
.add-text h4 {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px;
}
.add-text .font2 {
  font-size: 18px;
}
.footer1 img {
  margin-top: 20px;
  width: 50px;
  padding: 5px;
}
.footer p {
  color: #fff;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px 0 10px 0;
  margin: 0;
}
.footer {
  background-image: url("../images/img42.jpg");
}
.footer-bottom a {
  color: #fff;
}
