@media screen and (max-width: 600px) {
  .parallax {
    height: auto !important;
  }
  body {
    width: 100%;
  }
  .navbar {
    background-color: rgb(0, 0, 0, 0.8) !important;
  }
  .navbar li {
    padding-top: 15px;
  }
  .nav-link {
    padding-left: 5px !important;
  }
  .welcome h1 {
    padding-top: 12vh !important;
    font-size: 10vw !important;
  }
  .welcome hr {
    width: 38%;
  }
  .welcome h2 {
    padding-top: 3vh !important;
    font-size: 16vw !important;
  }
  .welcome h4, .welcome button, .seo h4, .website-design h5, .contact_us h5 {
    font-size: 5vw !important;
  }
  .digital-marketing {
    margin-top: 0px;
    padding-top: 0px;
    height: auto;
    min-height: 0 !important;
  }
  .digital-marketing h2 {
    padding-top: 20px;
  }
  .services1 h2, .digital-marketing h2, .seo h3, .website-design h3, .real-estate h3, .contact_us h2 {
    font-size: 10vw !important;
  }
  .digital-marketing img, .services1 img {
    max-width: 80%;
    height: auto;
    margin: 0 10% 0 10%;
  }
  .digital-marketing h4 {
    min-width: 80%;
    padding-top: 0;
    margin-top: 0;
    font-size: 5vw !important;
  }
  .welcome .parallax, .digital-marketing .parallax, .social-media .parallax, .real-estate .parallax, .our-clients, .contact_us {
    height: auto !important;
    min-height: 0;
  }
  .digital-marketing h5 {
    padding-top: 40px;
  }
  .services1 img {
    z-index: 0;
    position: static;
  }
  .services1, .services {
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  .services1-2 {
    margin: 10px 5% 0 5%;
    /*padding: 0 !important;*/
    padding: 10px;
    width: 90% !important;
  }
  .services1-2 p {
    padding: 10px;
    margin: 0 !important;
    width: 100% !important;
  }
  .seo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .social-media h2, .real-estate h3 {
    padding: 20px 0 0 0 !important;
    font-size: 10vw !important;
  }
  .social-media h4, .real-estate h4 {
    margin-top: 20px !important;
    font-size: 5vw !important;
  }
  .social-media-images img {
    max-width: 50px;
  }
  .social-media-card img {
    max-width: 70% !important;/*;
		padding: 0 15% 0 15%;*/
    height: auto !important;
    max-height: auto !important;
  }
  .real-estate h4, .contact_us h5 {
    padding-bottom: 20px;
  }
  .real-estate1 {
    padding-top: 20px;
  }
  .skill-card:hover .skill-card__body {
    height: 310px !important;
  }
  .our-clients h2, .about-us h2 {
    padding: 50px 0 0 0 !important;
    font-size: 10vw !important;
  }
  .our-clients img {
    max-height: 90px;
    padding: 0 !important;
    margin: 5px;
  }
  .review-item {
    text-align: center;
    height: 450px;
  }
  /*
  .review-item h6 {
    margin-top: 20px;
  }
*/
  .caption2 {
    margin: 0px 10px 50px 10px;
    left: 0px !important;
    right: 0px !important;
  }
  /*
  .caption2 h6 {
    margin-top: 70px;
  }
*/
  .review-box h2 {
    padding: 50px 0 20px 0 !important;
    font-size: 10vw !important;
  }
  .about-us h4 {
    padding: 20px 0 0 0 !important;
    font-size: 5vw !important;
  }
  .add-map iframe {
    width: 100% !important;
    /*padding: 0 10% 0 10% !important;*/
    padding: 3%;
  }
  .add {
    padding-top: 20px;
  }
  .footer {
    /*height: auto !important;*/
    padding-bottom: 10px;
  }
  .digital-marketing {
    margin-bottom: 50px !important;
  }
  .arrow {
    position: relative !important;
    left: 0 !important;
    padding: 150px 50% 0 50%;
  }
  
  .contact_us textarea {
    height: 4em !important;
  }
}
@media only screen and (max-width: 1000px) {
  .digital-marketing img {
    max-width: 60% !important;
    height: auto;
    margin: 0 20% 0 20%;
  }
  .digital-marketing .parallax {
    height: auto !important;
    min-height: 0 !important;
  }
  .digital-marketing h4 {
    min-width: 80%;
    padding-top: 0;
    margin-top: 0;
    font-size: 3vw !important;
  }
  .services1 img {
    z-index: 0;
    position: static;
    max-width: 80%;
    height: auto;
    margin: 0 10% 0 10%;
  }
  .services1, .services {
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  .services1-2 {
    margin: 10px 5% 0 5%;
    padding: 10px;
    width: 90% !important;
  }
  .services1-2 p {
    padding: 10px;
    margin: 0 !important;
    width: 100% !important;
  }
  .services .skill-card__header img {
    width: 100% !important;
  }
}