@charset "utf-8";
/* CSS Document */

body {
  height: 100%;
	color: #000;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

/*Navbar*/
.navbar-brand img {
  height: 70px;
  margin: -12px 0 -13px -15px;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(255,255,255,0.3);
}

.nav-link {
  color: #FFFFFF !important;
  margin-left: 31px;
  font-size: 18px;
  padding: 0;
}

.nav-link:hover{
  color: #F44336 !important;
  border-left: 2px solid #F44336;
  font-weight: bold;
}

.active-home{
  color: #F44336 !important;
  border-left: 2px solid #F44336 !important;
  font-weight: bold;
}

.welcome h1 {
  padding-top: 130px;
  font-size: 60px;
  color: #fff;
}

.welcome hr {
  height: 3px;
  width: 220px;
  background-color: #F00;
  margin-left: 0;
}

.welcome h2 {
  padding-top: 50px;
  font-size: 80px;
  color: #fff;
}

.welcome h4 {
  padding-top: 13px;
  font-size: 24px;
  color: #fff;
}

.welcome button {
  padding: 5px 9px 5px 9px;
  margin-top: 30px;
  margin-right: 0;
  background-color: #FF2010;
  color: #fff;
  font-size: 26px;
  border: 1px solid #FF2010;
  border-radius: 4px;
}

.welcome button:hover {
  background-color: #FFF;
  color: #FF2010;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.parallax {
  /* The image used */
  background-image: url('images/img1.png');

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*services*/
.services{
  width: 100%;
  margin-top: 70px;
  background-color: #fbfafa;
  padding-bottom: 70px;
}

.services1{
/*  height: 70vh;*/
  margin-bottom: 70px;
}


.services h5{
  padding-top: 78px;
  letter-spacing: 10px;
}

.services hr{
  height: 2px;
  width: 100px;
  background-color: #F00;
  margin-left: 0;
}

.services h2{
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 0px;
}

.services1 img{
  width: auto;
  height: auto;
  max-height: 350px;
  max-width: 400px;
  margin-top: 100px;
  
  box-shadow: 2px 2px #2b3138;
  z-index: 100 !important;
  position: absolute;
  background-color: #fff;
}

.services1-2 {
  margin-top: 50px;
  background-color: #2b3138;
  margin-left: 25%;
  margin-right: 0px !important;
  width: 75% !important;
  padding: 10px 50px 10px 13%;
  color: #fff;
  right: 0;
}

.services1-2 h4 {
  padding-top: 13px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.services1-2 hr{
  height: 1px;
  width: 100px;
  background-color: #F00;
  margin-left: 0;
}

.services1-2 p{
  text-align: justify;
}

/*card view*/

.card-view1 {
  width: 100%;
  background-color: #fff;
  margin: 15px;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 2px #2b3138;
}

.card-view1 img{
  width: 100% !important;
  height: 60%;
  padding-top: 10px;
}

.card-view1 h4 {
  padding-top: 20px;
  text-align: left;
  font-size: 24px;
  color: #2b3138;
  font-weight: bold;
  letter-spacing: 2px;
}

.card-view1 hr{
  height: 1px;
  width: 130px;
  background-color: #F00;
  margin-left: 0;
}

.card-view1 p{
  text-align: justify;
}

.card-view1:hover{
  background-color: #2b3138;
  color: #fff;
}

.card-view1:hover h4{
  color: #fff;
}

.card-view-row2 {
  margin-top: 20px;
}

.card-view-row2 .card-view1 img{
  width: 100% !important;
  height: 50%;
  padding-top: 10px;
}

/*digital marketing*/

.digital-marketing{
  height: 100vh;
}

.digital-marketing h2{
  padding-top: 50px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}

.digital-marketing img {
  margin-top: 20%;
  width: 400px;
  height: 400px;
}

.digital-marketing h4{
  margin-top: 40%;
  font-size: 34px !important;
  vertical-align: middle !important;
  text-align: center;
/*  line-height: 90px;*/
}

/* seo*/
.seo{
  width: 100%;
  padding-top: 50px;
  background-color: #fbfafa;
  padding-bottom: 70px;
}

.seo h2{
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}

.seo h4{
  font-size: 34px !important;
  padding-bottom: 40px;
}

.seo .card-view1 img{
  width: auto;
  height: auto;
  padding: 70px;
}

.seo .card-view1 h4{
  padding-bottom: 0;
}

/*website-design*/
.website-design {
  background-color: #E8FCFF;
  padding-bottom: 50px;
}

.website-design h2{
  padding-top: 40px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 0px;
}

.website-design img {
  padding: 0 25px 0 25px;
}

.website-design h5 {
  padding-top: 20px;
}

.web-dsg img {
  margin-top: 50px;
  width: 353px !important;  
}

.website-design .card-view1 img{
  width: auto;
  height: auto;
  padding: 80px;
}

/*display-advs*/
.display-ads {
  padding: 50px 0 50px 0;
  height: 100vh;
}

.display-ads h2{
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}

.display-ads img {
  max-width: 400px;
}

.display-ads h5{
  margin-top: 20%;
  font-size: 34px !important;
  vertical-align: middle !important;
  text-align: center;
}

/*social-media*/
.social-media {
  padding: 50px 0 50px 0;
}

.social-media h2,.real-estate h2 {
  padding-top: 80px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}

.social-media h4, .real-estate h4{
  margin-top: 130px;
  font-size: 34px !important;
  vertical-align: middle !important;
  text-align: center;
}

.social-media-card img {
  width: 70%;
  max-height: 500px;
  padding-top: 20px;
}

/*real e-state*/
.real-estate1 {
  padding-top: 50px;
}
.real-estate .card-view1 h4 {
  text-align: left;
  padding-top: 0px;
  margin-top: 30px;
}

.real-estate .card-view1 p{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.our-clients h2, .about-us h2{
  padding-top: 80px;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
}

.our-clients img {
  width: auto;
  max-width: 150px;
  max-height: 200px;
  height: auto;
  padding: 5px;
}

.about-us h4 {
  padding-top: 50px;
  padding-bottom: 160px;
}

.footer img {
  width: 50px;
  padding: 5px;
}

.footer p {
  color: #fff;
  background-color: rgb(0,0,0,0.5);
}

.footer1 {
  padding-top: 37%;
}
